@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&family=Raleway:wght@300&display=swap');
body{
	margin: 25px 50px 75px 100px;
	background: url(satu.jpg) no-repeat; 
	background-size: cover;
}
img {
	width: 255px;
	height: 450px;
}
h1 {
	text-shadow: 0 0 10px #de5454
}
h2 {
	border: 5px solid #E9967A;
	width: 700px;
	color: white;
}
table{
	font-family: 'Antonio', sans-serif;
}
p {
	font-family:  'Raleway', sans-serif;
}
p {
	background-color: rgba(233, 150, 122, 0.5);
	width: 1000px;
	border: 10px solid #E9967A;
	 padding: 10px;
  margin: auto;
	color: white
}
