body{
	margin: 25px 50px 75px 100px;
	background: url(satu.jpg) no-repeat; 
	background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&family=Raleway:wght@300&display=swap');
table{
	font-family: 'Antonio', sans-serif;
}
h1 {
	text-shadow: 0 0 10px #de5454
}
h3 {
	text-shadow: 0 0 5px #FF7F50
}
p {
	font-family:  'Raleway', sans-serif;
}