@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Playfair+Display&display=swap");
.jumbotron {
  padding-top: 10rem;
  background-color: burlywood;
}
#PJJ {
  background-color: burlywood;
}
h1,
h2 {
  font-family: "Krona One", sans-serif;
}
.cakep {
  font-family: "Krona One", sans-serif;
}
.font {
  font-family: "Playfair Display", serif;
}
section {
  padding-top: 5rem;
}
.btn {
  background-color: burlywood;
}
